.titulo {
    color: #000;
    font-size: 28px;
    text-decoration: underline;
}

div {
    border: 1px solid black;
    padding: 10px;
    display: inline-block;
    border-radius: 60px;
}

a {
    display: block;
}

.quadro {
    background-color: rgb(151, 150, 150);
}